body{
    margin:0;
    padding:0;
    background-color: rgba(43, 226, 80, 0.638);
   /* background-image: url(bbc.webp);
    background-repeat: repeat-y;
    background-position: top right 40px;*/
    background-image: url(wp2858551.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-position: top right;
    
    


}
html,*{
    margin:0;

    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 3px 0px 10px;
}
#para{
    color: brown;
}
img{
    float: left;
    margin-right: 20px;
    border:10x darkgoldenrod;
    border-radius: 50%;
}